*{
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
}

body{
    background-color: gray;
    height: 100vh;
}
.parent {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
}
section{
    width: 80%;
    height: 100vh;
    display: grid;
    /* place-content: center; */
    /* align-items: center; */
    /* place-items: center; */
    grid-template: "logo logo logo logo" 10%
                   "side header header header" 20%
                   "side body body body" 50%
                   "footer footer footer footer" 5% / 2fr 1fr 1fr 1fr ;
    row-gap: 10px;
    
}

section div:nth-of-type(1){
    background-image: linear-gradient(rgb(196, 142, 142), rgb(206, 206, 150), rgb(230, 228, 224));
    grid-area: logo;
    
    
}
section div:nth-of-type(2){
    background-image: linear-gradient(rgb(136, 195, 111), rgb(64, 112, 134), rgb(191, 191, 193));
    grid-area: side;
}
section div:nth-of-type(3){
    background-image: linear-gradient(rgb(142, 101, 185), rgb(178, 82, 170), rgb(203, 169, 183));
    grid-area: header;
}
section div:nth-of-type(4){
    background-image: linear-gradient(rgb(71, 206, 202), rgb(93, 186, 93), rgb(221, 222, 230));
    grid-area: body;
}
section div:nth-of-type(5){
    background-image: radial-gradient(rgb(232, 232, 162), rgb(171, 210, 139), rgb(129, 216, 253));
    grid-area: footer;
}

